#game-area {
    background-color: #f0f0f0;
    position: relative;
    width: 800px;
    height: 300px;
    overflow: hidden; /*hides obstacle when it goes outside the game area*/
}

#brincadore {
    background-color: red;
    position: absolute;
    bottom: 5px;
    left: 50px;
    width: 60px;
    height: 60px;
    z-index: 2;
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: red;
}

#score {
    position: absolute;
    top: 10px;
    left: 600px;
    font-size: 18px;
    color: black;
}

.obstacle.dry-stone-wall {
    background-color: gray;
    position: absolute;
    bottom: 5px;
}

.obstacle.sheep {
    background-color: white;
    position: absolute;
    bottom: 5px;
}

.obstacle.wild-boar {
    background-color: brown;
    position: absolute;
    bottom: 5px;
}
