#game-area {
    background-color: #f0f0f0;
    position: relative;
    width: 800px;
    height: 300px;
    overflow: hidden; /*hides obstacle when it goes outside the game area*/
}

#brincadore {
    background-color: red;
    position: absolute;
    bottom: 5px;
    left: 50px;
    width: 60px;
    height: 60px;
    z-index: 2;
}

.obstacle.dry-stone-wall {
    background-color: gray;
    position: absolute;
    bottom: 5px;
    width: 50px;
    height: 70px;
}